[workspace]
channels = ["https://prefix.dev/conda-forge"]
platforms = ["linux-64", "osx-arm64"]
preview = ["pixi-build"]

[dependencies]
drake = { path = "." }

[package]
name = "drake"
version = "1.45.0"

[package.build]
backend = { name = "pixi-build-rattler-build", version = "0.3.*" }
